.ulStep
{
	border-bottom: 1px solid #eeeeee;
	display: grid;
	list-style: none;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
}

.ulStep > li
{
	background-color: #ffffff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	display: inline-block;
	padding: 7px;
	user-select: none;
	vertical-align: middle;
}

.ulStep > .ulStepActive
{
	background-color: #64a1fe;
	color: #ffffff;
}

.ulStep ~ .divStep
{
	display: none;
}

.ulStep ~ .divStep .ulStepBtn
{
	width: 130px;
}

.ulStep ~ .divStepActive
{
	display: block;
}